.home-page > .section-one {
  width: 100vw;
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.384)),
    url(https://bangladesh.gov.bd/sites/default/files/files/bangladesh.gov.bd/top_banner/26bad4db_15b3_49da_91ad_980595d0fb93/our_pride.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.form-path-box-container {
  width: 100%;
  bottom: 5%;
  position: absolute;
}
.form-path-box {
  background: transparent rgb(219, 219, 255);
  border-radius: 0.5em;
  border: 1px solid whitesmoke;
  box-shadow: 0.1em 0.1em 0.4em rgba(160, 160, 160, 0.699);
  padding: 1em;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.form-path-box > h3 {
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.2px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.form-path-box > button {
  border-radius: 0.3em;
  color: white;

  padding: 0.5em 1em;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  -webkit-text-stroke: 0.2px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  transition: 0.5s ease-in-out;
}

.form-path-box > button:hover {
  background-color: rgba(0, 0, 0, 0.405);
}

@media screen and (min-width: 600px) {
  .home-page > .section-one {
    height: 35vw;
  }
  .form-path-box-container {
    width: 100%;
    margin: auto;
    bottom: 0%;
  }
  .form-path-box {
    padding: 2em;
    width: 50%;
  }
}
